*.swp
target/
**/*.rs.bk
.DS_Store
*.pdb
exercises/clippy/Cargo.toml
exercises/clippy/Cargo.lock
rust-project.json
.idea
.vscode/*
!.vscode/extensions.json
*.iml
*.o
public/

# Local Netlify folder
.netlify

# 个人学习总结文件
rust学习总结.md